        </div>
        <footer>            
            <div class="rowCSS">
                
                <ul class="footer-nav">
                    <li><a href="/terms">Terms & Conditions</a></li>
                    <!-- <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li> -->
                </ul>
                
                <p>Copyright &copy; 2018 by SolverBay. All rights reserved.</p>
                    
            </div>
              
        </footer>  
    </body>

    <script src="/javascript/main.js"></script>
</html>