<% include partials/header %>

<div class="about">

    <h2>About</h2>
    <p>Crowdsourcing is changing the way things get done. Many companies are using its potential through organizing hackathons, challenges, contests, co-creation and open innovation projects. With Solverbay we make this potential accessible to you.<br><br>     Through our platform we provide crowdsourcing for everyone. It’s very easy to post a challenge and tap into the vast knowledge and skills of our Solvers community. The platform is focused on engineering &amp; product development challenges.</p><br><br>

    <p><b>Typical reasons for using Solverbay include:</b></p>

    <ul class="aboutList">
        <li>Get innovative &amp; outside the box solutions;</li>
        <li>Discover how other industries are solving similar challenges;</li>
        <li>Brand your technical engineering competences;</li>
        <li>Attract great minds to work with you;</li>
        <li>Solve interesting challenges &amp; join interesting projects;</li>
        <li>Win prizes;</li>
        <li>Train your skills;</li>
        <li>Find contacts for future cooperation;</li>
        <li>Find your future job or employees;</li>
    </ul>

    <h2>What is crowdsourcing?</h2>

    <p>Knowledge and ideas are decentralized among people. Your co-workers may not have the best answers. Crowdsourcing means outsourcing something you want to achieve to a large network of people in the form of an open call. It works brilliantly for innovative engineering solutions and ideas generation.</p><br><br>

    <p>Many problems, opportunities, and projects benefit from being exposed to different perspectives. To people and teams, in other words, with multiple dissimilar backgrounds, educations, problem-solving approaches, intellectual and technical tool kits, genders, and so on.</p><br><br>

    <p>Technology is making it progressively easier to access the knowledge, experience, and resources of the crowd. Thanks to our growing connectivity, it is now easier than ever for individuals to collectively contribute ideas, time or expertise to a project or cause.</p><br><br>

    <h2>Who are we?</h2>

    <p>We are a team of engineers and entrepreneurs. Our background includes employment in established corporations, universities, teaching and launching startups. We have good insights into challenges of engineering, industrialization, basic research, development of new innovative products and their incremental optimizations. We are exited abut crowdsourcing because we see its huge potentials when making it more easily accessible and widespread.</p>  


</div>

<% include partials/footer %>