<% include partials/header %>

<div class="rowCSS loginRegisterForm">
    <form action="/login" method="POST">
        <div>
            <input type="email" name="email" placeholder="email" maxlength="40" required></input>
        </div>
        <div>
            <input type="password" name="password" placeholder="password" maxlength="15" required></input>
        </div>                 
        <input type="submit" value="Login">
        <a href="/passwordemail">Reset password</a>
    </form>
</div>

<% include partials/footer %>