<% include partials/header %>

<div class="loginRegisterForm">
    <form action="/register" method="POST">
        <div>
            <input type="text" name="username" placeholder="username" maxlength="20" required></input>
        </div>
        <div>
            <input type="email" name="email" placeholder="email" maxlength="40" required></input>
        </div>
        <div>
            <input type="password" name="password" placeholder="password" maxlength="15" required></input>
        </div>
        <div>
            <input type="password" name="password2" placeholder="type password again" maxlength="15" required></input>
        </div>
        <input type="submit" class="btn btnFull" value="Sign up">
    </form>
</div>


<% include partials/footer %>