<% include partials/header %>

<div class="terms">

    <p>Please read this terms of use agreement (the “terms of use”) carefully. By accessing or using the
    SolverBay platform (the “Platform”) in any way, including by submitting, designing, enabling, or
    participating in any of the challenges available or enabled via the platform, by clicking on the “I
    accept” button, or by completing the registration process, you represent that (1) you have read,
    understand, and agree to be bound by the terms of use, (2) you are of legal age to form a binding
    contract with SolverBay, and (3) you have the authority to enter into the terms of use personally
    or on behalf of the company you have named as the user in the registration process, and to bind
    that company to the terms of use. The term “you” refers to the individual or legal entity, as
    applicable, identified as the user when you registered on the platform. If you do not agree to be
    bound by the terms of use, you may not access or use the platform or participate in any of the
    challenges.</p><br><br>

    <p>The terms of use include (1) your agreement that SolverBay has no liability regarding the
    challenges (section 16.2); (2) your agreement that the challenges are provided “as is” and
    without warranty (section 16.1); (3) your consent to release SolverBay from liability based on
    claims between users of the platform (section 8) and generally (section 21.2); and (4) your
    agreement to indemnify SolverBay for your acts and omissions regarding the challenges (section
    15).</p><br><br>

    <p>The terms of use include a class action waiver and a waiver of jury trials, and require binding
    arbitration on an individual basis to resolve disputes.
    The terms of use limit the remedies that may be available to you in the event of a dispute.
    Please note that the Terms of Use are subject to change by SolverBay in its sole discretion at any
    time. When changes are made, SolverBay will make a new copy of the Terms of Use available at
    the Platform.</p><br><br>

    <p>1. Platform connects Solvers and Challengers. SolverBay provides an online marketplace that allows
    Users to post and administer incentive challenges that allow other Users to participate in
    designated activities in order to compete for prizes (“Challenges”). As a marketplace, we do not
    operate the Challenges listed on the Platform or provide any prizes, so the actual Challenge
    relationship is between the Users posting and administering Challenges (“Challengers”) and
    Users seeking to compete in such Challenges (“Solvers”). SolverBay is only an intermediary who
    holds the deposited prize from the time when the Challenger posts a Challenge, until the end of
    the designated challenge time. The Challenger must select one Challenge winner who receives
    the prize. If the Challenger does not select a winner within 7 days since the end of the designated
    Challenge time, SolverBay decides who is the winner in its sole discretion and transfers the prize
    to him.</p><br><br>

    <p>2. SolverBay Provides a Venue for Challenges. While SolverBay operates the Platform that provides
    useful tools for the administration of Challenges, all Challenges are ultimately designed and
    administered by Challengers. We do not take part in the interaction between Users. We do not
    have control over the quality, timing, legality, failure to provide, or any other aspect of the
    Challenges, over any materials provided by Challengers or by Solvers, or over the integrity,
    responsibility, or any actions of any Users. SolverBay makes no representations about the
    suitability, reliability, timeliness or accuracy in public, private or offline interactions between
    
    Users. Solverbay is not responsible for the conduct, whether online or offline, of any Challenger
    or Solver, and will not be liable for any claim, injury or damage arising in connection with your
    use of the platform.</p><br><br>

    <p>3. Use of the Platform. The Platform and the information and content available on the Platform are
    protected by copyright laws throughout the world. Subject to the Terms of Use, SolverBay grants
    you a limited license to reproduce portions of the content available on the Platform for the sole
    purpose of administering the Challenges (if you are a Challenger of such Challenges) or
    participating in Challenges (if you are a Solver).
    a) Certain Restrictions. The rights granted to you in the Terms of Use are subject to the
    following restrictions: (a) you shall not license, sell, rent, lease, transfer, assign,
    reproduce, distribute, host or otherwise commercially exploit the Platform or any portion
    of the Platform, (b) you shall not modify, translate, adapt, merge, make derivative works
    of, disassemble, decompile, reverse compile or reverse engineer any part of the Platform
    except to the extent the foregoing restrictions are expressly prohibited by applicable law;
    (c) you shall not use any manual or automated software, devices or other processes
    (including but not limited to spiders, robots, scrapers, crawlers, avatars, data mining
    tools or the like) to “scrape” or download data from any web pages contained in the
    Platform (except that we grant the operators of public search engines revocable
    permission to use spiders to copy materials from the Platform for the sole purpose of
    and solely to the extent necessary for creating publicly available searchable indices of the
    materials, but not caches or archives of such materials); (d) access the Platform in order
    to build a similar or competitive technology, application or service; (e) except as
    expressly stated herein, no part of the Platform may be copied, reproduced, distributed,
    republished, downloaded, displayed, posted or transmitted in any form or by any means;
    and (f) you shall not remove or destroy any copyright notices or other proprietary
    markings contained on or in the Platform. SolverBay, its suppliers and Challenge
    providers reserve all rights not granted in the Terms of Use. Any unauthorized use of the
    Platform terminates the licenses granted by SolverBay pursuant to the Terms of Use.
    b) Third-Party Materials. As a part of the Platform, you may have access to materials that
    are hosted by another party. You agree that it is impossible for SolverBay to monitor
    such materials and that you access these materials at your own risk.</p><br><br>

    <p>4. Registration. In order to use the features of the Platform you are required to become a
    Registered User. For purposes of the Terms of Use, a “Registered User” is a User who has
    registered an account on the Platform (“Account”). In registering for the Platform, you agree to
    (a) provide true, accurate, current and complete information about yourself as prompted by the
    Platform’s registration form (the “Registration Data”); and (b) maintain and promptly update the
    Registration Data to keep it true, accurate, current and complete. You represent that you are (i)
    at least eighteen (18) years old; (ii) of legal age to form a binding contract; and (iii) not a person
    barred from using the Platform under the laws of your place of residence or any other applicable
    jurisdiction. You are responsible for all activities that occur under your Account. You agree that
    you shall monitor your Account to restrict use by minors, and you will accept full responsibility
    for any unauthorized use of the Platform by minors. You may not share your Account or
    password with anyone, and you agree to (y) notify SolverBay immediately of any unauthorized
    use of your password or any other breach of security; and (z) exit from your Account at the end
    of each session. If you provide any information that is untrue, inaccurate, not current or
    incomplete, or SolverBay has reasonable grounds to suspect that such information is untrue,
    
    inaccurate, not current or incomplete, SolverBay has the right to suspend or terminate your
    Account and refuse any and all current or future use of the Platform (or any portion thereof). You
    agree not to create an Account using a false identity or information, or on behalf of someone
    other than yourself. You agree that you shall not have more than one Account at any given time.
    SolverBay reserves the right to remove or reclaim any usernames at any time and for any reason,
    including but not limited to, claims by a third party that a username violates the third party’s
    rights.</p><br><br>

    <p>5. Fees and Payment Policy. SolverBay charges Challengers a 12 % fee for posting Challenges, to
    cover the Platform expenses. We may change our fees from time to time by posting the changes
    on the Platform fourteen (14) days in advance. For all purchases and payments for
    reimbursement costs, fees or expenses associated with a sale, SolverBay will charge your credit
    card for the posting of Challenges, and you hereby authorize us to charge your credit card for
    such amounts. SolverBay retains the right, in its sole discretion, to place a hold on any payment
    for a completed transaction.
    a) Refunds. SolverBay has no obligation to provide refunds or credits, but may grant them in
    extenuating circumstances, as a result of specific refund guarantee promotions, or to
    correct any errors made by SolverBay, in each case in SolverBay&#39;s sole discretion.
    b) Challenge Prizes. Solvers for each Challenge contract directly with the Challenger for such
    Challenge, including with respect to the award of prizes. SolverBay will only hold the
    prize in the time of active Challenge and after that transfer it to the Winner. If you have
    any dispute with any other User (whether a Challenger or a Solver), you agree to directly
    resolve such dispute with such other User without the involvement of SolverBay.
    c) Taxes. You will be liable for all transaction taxes on the Challenges provided under this
    Agreement (other than taxes based on SolverBay&#39;s income).</p><br><br>

    <p>6. Challenger Conditions. When posting and administering a Challenge, you agree to comply with
    our rules for listing and that:
    a) You are solely responsible for the accuracy and content of the Challenge.
    b) You are solely responsible for ensuring that the Challenge (including its rules,
    administration, and prizes) complies with all applicable laws, rules, and regulations.
    c) You are solely responsible for preparing and posting clear rules of the Challenge,
    including how the Challenge will be judged and what prize will be offered.
    d) You are solely responsible for judging the outcome of the Challenge until 7 days after the
    challenge finishes.
    e) You are solely responsible for securing all necessary intellectual property rights in any
    materials submitted by Solvers in the Challenge through your own Challenge-Specific
    Terms.</p><br><br>

    <p>7. Solver Conditions. When participating in a Challenge, you agree to abide by the applicable
    Challenge-Specific Terms. You further agree that:
    a) You are responsible for reading the rules of the Challenge and all other Challenge-
    Specific Terms before deciding to participate, which may include the grant of intellectual
    property rights in any submission you may make for the Challenge.</p><br><br>

    <p>8. Release. SolverBay expressly disclaims any liability that may arise between Users. Because
    SolverBay is not involved in the actual contract between Users or in the administration of the
    Challenge, in the event that you have a dispute with one or more Users, you release SolverBay
    (and our officers, directors, agents, investors, subsidiaries, and employees) from any and all
    
    claims, demands, or damages (actual or consequential) of every kind and nature, known and
    unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way
    connected with such disputes.</p><br><br>

    <p>9. Responsibility for Content
    a) Types of Content. You acknowledge that all content displayed on the Platform
    (“Content”) is the sole responsibility of the party from whom such Content originated.
    This means that you, and not SolverBay, are entirely responsible for all Content that you
    upload, post, e-mail, transmit or otherwise make available (“Post”) on the Platform
    (“Your Content”), and other Users of the Platform, and not SolverBay, are similarly
    responsible for all Content they Post on the Platform (“Other User Content”).
    b) No Obligation to Pre-Screen Content. You acknowledge that SolverBay has no obligation
    to pre-screen Content (including, but not limited to, Your Content and Other User
    Content), although SolverBay reserves the right in its sole discretion to pre-screen, refuse
    or remove any Content. By entering into the Terms of Use, you hereby provide your
    irrevocable consent to such monitoring. You acknowledge and agree that you have no
    expectation of privacy concerning the transmission of Your Content, including without
    limitation chat, text, or voice communications. In the event that SolverBay pre-screens,
    refuses or removes any Content, you acknowledge that SolverBay will do so for
    SolverBay’s benefit, not yours. Without limiting the foregoing, SolverBay shall have the
    right to remove any Content that violates the Terms of Use or is otherwise objectionable.
    c) Storage. Unless expressly agreed to by SolverBay in writing elsewhere, SolverBay has no
    obligation to store any of Your Content that you Post on the Platform. SolverBay has no
    responsibility or liability for the deletion or accuracy of any Content, including Your
    Content; the failure to store, transmit or receive transmission of Content; or the security,
    privacy, storage, or transmission of other communications originating with or involving
    use of the Platform.</p><br><br>

    <p>10. Ownership
    a) The Platform. Except with respect to Your Content and Other User Content, you agree
    that SolverBay and its suppliers own all rights, title and interest in the Platform
    (including, but not limited to, any computer code, themes, objects, characters, character
    names, stories, dialogue, concepts, artwork, animations, sounds, musical compositions,
    audiovisual effects, methods of operation, moral rights, and documentation). You will
    not remove, alter or obscure any copyright, trademark, service mark or other proprietary
    rights notices incorporated in or accompanying the Platform. Except with respect to Your
    Content, you agree that you have no right or title in or to any Content that appears on or
    in The Platform.
    b) Trademarks. SolverBay’s and other related graphics, logos, service marks and trade
    names used on or in connection with the Platform are the trademarks of SolverBay and
    may not be used without permission in connection with any third-party products or
    services. Other trademarks, service marks and trade names that may appear on or in the
    Platform are the property of their respective owners.
    c) Your Content. SolverBay does not claim ownership of Your Content. However, when you
    post or publish Your Content on or in the Platform, you represent that you own and/or
    have a royalty-free, perpetual, irrevocable, worldwide, non-exclusive right (including any
    moral rights) and license to use, license, reproduce, modify, adapt, publish, translate,
    create derivative works from, distribute, derive revenue or other remuneration from,
    
    and communicate to the public, perform and display Your Content (in whole or in part)
    worldwide and/or to incorporate it in other works in any form, media or technology now
    known or later developed, for the full term of any worldwide intellectual property right
    that may exist in Your Content. You hereby grant SolverBay a fully paid, royalty-free,
    perpetual, irrevocable, worldwide, royalty-free, non-exclusive and fully sublicensable
    right (including any moral rights) and license to use, license, distribute, reproduce,
    modify, adapt, publicly perform, and publicly display, Your Content (in whole or in part)
    for the purposes of operating and providing the Platform to you and to our other Users,
    and related marketing and promotional activities. You warrant that the holder of any
    worldwide intellectual property right, including moral rights, in Your Content, has
    completely and effectively waived all such rights and validly and irrevocably granted to
    you the right to grant the license stated above.
    d) Username. Notwithstanding anything contained herein to the contrary, by submitting
    Your Content to any forums, comments or any other area on the Platform, you hereby
    expressly permit SolverBay to identify you by your username (which may be a
    pseudonym) as the contributor of Your Content in any publication in any form, media or
    technology now known or later developed in connection with Your Content.
    e) Your Account. Notwithstanding anything to the contrary herein, you acknowledge and
    agree that you shall have no ownership or other property interest in your Account, and
    you further acknowledge and agree that all rights in and to your Account are and shall
    forever be owned by and inure to the benefit of SolverBay.
    f) Feedback. You agree that submission of any ideas, suggestions, documents, and/or
    proposals to SolverBay through its suggestion, feedback, wiki, forum or similar pages
    (“Feedback”) is at your own risk and that SolverBay has no obligations (including without
    limitation obligations of confidentiality) with respect to such Feedback. You represent
    and warrant that you have all rights necessary to submit the Feedback. You hereby grant
    to SolverBay a fully paid, royalty-free, perpetual, irrevocable, worldwide, non-exclusive,
    and fully sublicensable right and license to use, reproduce, perform, display, distribute,
    adapt, modify, re-format, create derivative works of, and otherwise commercially or non-
    commercially exploit in any manner, any and all Feedback, and to sublicense the
    foregoing rights, in connection with the operation and maintenance of the Platform.</p>

    <p>12. Investigations. SolverBay may, but is not obligated to, monitor or review the Platform and
    Content at any time. Without limiting the foregoing, SolverBay shall have the right, in its sole
    discretion, to remove any of Your Content for any reason (or no reason), including if such
    Content violates the Terms of Use or any applicable law. Although SolverBay does not generally
    monitor User activity occurring in connection with the Platform or Content, if SolverBay becomes
    aware of any possible violations by you of any provision of the Terms of Use, SolverBay reserves
    the right to investigate such violations, and SolverBay may, at its sole discretion, immediately
    terminate your license to use the Platform, or change, alter or remove Your Content, in whole or
    in part, without prior notice to you.</p><br><br>

    <p>13. Interactions with Other Users. You are solely responsible for your interactions with other Users
    of the Platform; provided, however, that SolverBay reserves the right, but has no obligation, to
    intercede in disputes between Users. The Platform may contain Other User Content, which is
    provided by other Users. SolverBay is not responsible for and does not control Other User
    Content. SolverBay has no obligation to review or monitor, and does not approve, endorse or
    make any representations or warranties with respect to Other User Content. You use all Other
    User Content and interact with other Users at your own risk.</p><br><br>

    <p>14. Third-Party Links. The Platform may contain links to third-party services and/or advertisements
    for third parties (collectively, “Third-Party Link”). When you click on a Third-Party Link, we will
    not warn you that you have left the Platform and are subject to the terms and conditions
    (including privacy policies) of another service or destination. Such Third-Party Links are not under
    the control of SolverBay. SolverBay is not responsible for any Third-Party Links. SolverBay
    provides these Third-Party Links only as a convenience and does not review, approve, monitor,
    endorse, warrant, or make any representations with respect to Third-Party Links, or their
    products or services. You use all Third-Party Links at your own risk. When you leave the Platform,
    our Terms of Use and policies no longer govern. You should review the applicable terms and
    policies, including privacy and data gathering practices, of any Third-Party Link, and should make
    whatever investigation you feel necessary or appropriate before proceeding with any transaction
    with any third party.</p><br><br>

    <p>15. Indemnification. You agree to indemnify and hold SolverBay, its parents, subsidiaries, affiliates,
    officers, employees, agents, partners and licensors (collectively, the “SolverBay Parties”)
    harmless from any losses, costs, liabilities and expenses (including reasonable attorneys’ fees)
    relating to or arising out of: (a) Your Content; (b) your participation in any Challenge (if you are a
    Solver) or your design, administration, or operation of any Challenge, including the award of any
    prizes (if you are a Challenger); (c) any dispute between you and another User (whether
    
    Challenger or Solver); (d) your use of, or inability to use, the Platform; (e) your violation of the
    Terms of Use; (f) your violation of any rights of another party, including any Users; or (g) your
    violation of any applicable laws, rules or regulations. SolverBay reserves the right, at its own cost,
    to assume the exclusive defense and control of any matter otherwise subject to indemnification
    by you, in which event you will fully cooperate with SolverBay in asserting any available defenses.
    You agree that the provisions in this section will survive any termination of your Account, the
    Terms of Use or your access to the Platform.</p><br><br>

    <p>16. Disclaimer of Warranties a) As-is. You expressly understand and agree that to the extent permitted by applicable law,
    your use of the platform and/or the challenges is at your sole risk, and the platform and
    challenges are provided on an “as is” and “as available” basis, with all faults. The
    SolverBay parties expressly disclaim all warranties, representations, and conditions of
    any kind, whether express or implied, including, but not limited to, the implied
    warranties or conditions of merchantability, fitness for a particular purpose and non-
    infringement. Without limiting the foregoing, the SolverBay parties make no warranty,
    representation or condition that: (1) the platform will meet your requirements; (2) your
    use of the platform will be uninterrupted, timely, secure or error-free; (3) the results that
    may be obtained from use of the platform will be accurate or reliable; or (4) any errors in
    the platform will be corrected. Any content downloaded from or otherwise accessed
    through the platform is accessed at your own risk, and you shall be solely responsible for
    any damage to your property or person, including, but not limited to, your computer
    system and any device you use to access the platform, or any other loss that results from
    accessing such content.
    SolverBay makes no warranty, representation or condition with respect to challenges,
    including but not limited to, the quality, effectiveness, reputation and other
    characteristics of challenges, or with respect to any prizes to be provided in connection
    with any challenges.
    No advice or information, whether oral or written, obtained from SolverBay or through
    the platform will create any warranty not expressly made herein.
    b) No liability for conduct of third parties. You acknowledge and agree that the SolverBay
    parties are not liable, and you agree not to seek to hold the SolverBay parties liable, for
    the conduct of third parties, including operators of external sites, and that the risk of
    injury from such third parties rests entirely with you.
    c) No liability for conduct of other users. you are solely responsible for all of your
    communications and interactions with other users of the platform. You understand that
    the SolverBay parties do not make any attempt to verify the statements of users of the
    platform. The SolverBay parties make no representations or warranties as to the conduct
    of users of the platform. You agree to take reasonable precautions in all communications
    and interactions with other users of the platform.</p><br><br>

    <p>17. Limitation of Liability Procedure for Making Claims of Copyright Infringement. It is SolverBay’s
    policy to terminate membership privileges of any User who repeatedly infringes copyright upon
    prompt notification to SolverBay by the copyright owner or the copyright owner’s legal agent.
    Without limiting the foregoing, if you believe that your work has been copied and posted on the
    Platform in a way that constitutes copyright infringement, please provide us with the following
    information: (1) an electronic or physical signature of the person authorized to act on behalf of
    the owner of the copyright interest; (2) a description of the copyrighted work that you claim has
    been infringed; (3) a description of the location on the Platform of the material that you claim is
    
    infringing; (4) your address, telephone number and e-mail address; (5) a written statement by
    you that you have a good faith belief that the disputed use is not authorized by the copyright
    owner, its agent or the law; and (6) a statement by you, made under penalty of perjury, that the
    above information in your notice is accurate and that you are the copyright owner or authorized
    to act on the copyright owner’s behalf.
    a) Disclaimer of certain damages. You understand and agree that in no event shall the
    SolverBay parties be liable for any indirect, incidental, special, exemplary, or
    consequential damages arising out of or in connection with the platform or with the
    challenges, including, without limitation, any damages resulting from loss of use, data, or
    profits, whether or not they have been advised of the possibility of such damages, or for
    any damages for personal or bodily injury or emotional distress arising out of or in
    connection with the terms of use, or from any communications, interactions or meetings
    with other users of the platform, on any theory of liability, resulting from: (1) the use or
    inability to use the platform; (2) the cost of procurement of substitute goods or services
    resulting from any goods, data, information or services purchased or obtained or
    messages received for transactions entered into through the platform; (3) unauthorized
    access to or alteration of your transmissions or data; (4) statements or conduct of any
    third party on the platform; (5) any challenges; or (6) any other matter related to the
    platform, whether based on warranty, copyright, contract, tort (including negligence),
    product liability or any other legal theory.
    b) Cap on liability. Under no circumstances will the SolverBay parties be liable to you for
    more than the amount received by SolverBay as a result of your use of the platform. If
    you have not paid SolverBay any amounts SolverBay’s sole and exclusive liability shall be
    limited to fifty euros (50€).
    c) Exclusion of damages. Certain jurisdictions do not allow the exclusion or limitation of
    certain damages. If these laws apply to you, some or all of the above exclusions or
    limitations may not apply to you, and you might have additional rights.
    d) User content. The SolverBay parties assume no responsibility for the timeliness, deletion,
    mis-delivery or failure to store any content (including, but not limited to, your content
    and user content), user communications or personalization settings.
    e) Basis of the bargain. The limitations of damages set forth above are fundamental
    elements of the basis of the bargain between SolverBay and you.</p><br><br>

    <p>18. Termination and Suspension. SolverBay may terminate or suspend your right to use the Platform
    at any time for any or no reason by providing you with written or email notice of such
    termination, and termination will be effective immediately upon delivery of such notice. We may
    cancel unconfirmed Accounts or Accounts that have been inactive for a long time, or modify or
    discontinue our Challenges. Without limitation, SolverBay may terminate or suspend your right
    to use the Platform if you breach any provision of the Terms of Use or any policy of SolverBay
    posted through the Platform from time to time; if SolverBay otherwise finds that you have
    engaged in inappropriate and/or offensive behavior; if SolverBay believes you are creating
    problems or possible legal liabilities; if SolverBay believes such action will improve the security of
    our community or reduce another User’s exposure to financial liabilities; if SolverBay believes
    you are infringing the rights of third parties; if SolverBay believes you are acting inconsistently
    with the spirit of these Terms of Use; if despite our reasonable endeavors, SolverBay is unable to
    verify or authenticate any information you provide; or if you fail to pay all fees due for our
    Challenges by the payment due date. In addition to terminating or suspending your Account,
    SolverBay reserves the right to take appropriate legal action, including without limitation
    
    pursuing civil, criminal, and injunctive redress. Even after your right to use the Challenges is
    terminated or suspended, these Terms of Use will remain enforceable against you.</p><br><br>

    <p>19. Remedies a) Violations. If SolverBay becomes aware of any possible violations by you of the Terms of
    Use, SolverBay reserves the right to investigate such violations. If, as a result of the
    investigation, SolverBay believes that criminal activity has occurred, SolverBay reserves
    the right to refer the matter to, and to cooperate with, any and all applicable legal
    authorities. SolverBay is entitled, except to the extent prohibited by applicable law, to
    disclose any information or materials on or in the Platform, including Your Content, in
    SolverBay’s possession in connection with your use of the Platform, to (1) comply with
    applicable laws, legal process or governmental request; (2) enforce the Terms of Use, (3)
    respond to any claims that Your Content violates the rights of third parties, (4) respond
    to your requests for customer Challenge, or (5) protect the rights, property or personal
    safety of SolverBay, its Users or the public, and all enforcement or other government
    officials, as SolverBay in its sole discretion believes to be necessary or appropriate.
    b) Breach. In the event that SolverBay determines, in its sole discretion, that you have
    breached any portion of the Terms of Use, or have otherwise demonstrated conduct
    inappropriate for the Platform, SolverBay reserves the right to:
    i. Warn you via e-mail (to any e-mail address you have provided to SolverBay) that you
    have violated the Terms of Use;
    ii. Delete any of Your Content provided by you or your agent(s) to the Platform;
    iii. Discontinue your registration(s) with any of the Platform, including any Challenges or any
    SolverBay community;
    iv. Notify and/or send Content to and/or fully cooperate with the proper law enforcement
    authorities for further action; and/or
    v. Pursue any other action which SolverBay deems to be appropriate.</p><br><br>

    <p>19. Remedies a) Violations. If SolverBay becomes aware of any possible violations by you of the Terms of
    Use, SolverBay reserves the right to investigate such violations. If, as a result of the
    investigation, SolverBay believes that criminal activity has occurred, SolverBay reserves
    the right to refer the matter to, and to cooperate with, any and all applicable legal
    authorities. SolverBay is entitled, except to the extent prohibited by applicable law, to
    disclose any information or materials on or in the Platform, including Your Content, in
    SolverBay’s possession in connection with your use of the Platform, to (1) comply with
    applicable laws, legal process or governmental request; (2) enforce the Terms of Use, (3)
    respond to any claims that Your Content violates the rights of third parties, (4) respond
    to your requests for customer Challenge, or (5) protect the rights, property or personal
    safety of SolverBay, its Users or the public, and all enforcement or other government
    officials, as SolverBay in its sole discretion believes to be necessary or appropriate.
    b) Breach. In the event that SolverBay determines, in its sole discretion, that you have
    breached any portion of the Terms of Use, or have otherwise demonstrated conduct
    inappropriate for the Platform, SolverBay reserves the right to:
    i. Warn you via e-mail (to any e-mail address you have provided to SolverBay) that you
    have violated the Terms of Use;
    ii. Delete any of Your Content provided by you or your agent(s) to the Platform;
    iii. Discontinue your registration(s) with any of the Platform, including any Challenges or any
    SolverBay community;
    iv. Notify and/or send Content to and/or fully cooperate with the proper law enforcement
    authorities for further action; and/or
    v. Pursue any other action which SolverBay deems to be appropriate.</p><br><br>

    <p> 20. General Provisions a) Electronic Communications. The communications between you and SolverBay use
    electronic means, whether you visit the Platform or send SolverBay e-mails, or whether
    SolverBay posts notices on the Platform or communicates with you via e-mail. For
    contractual purposes, you (1) consent to receive communications from SolverBay in an
    electronic form; and (2) agree that all Terms of Use and conditions, agreements, notices,
    disclosures, and other communications that SolverBay provides to you electronically
    satisfy any legal requirement that such communications would satisfy if it were to be in
    writing. The foregoing does not affect your statutory rights.
    b) Release. You hereby release SolverBay Parties and their successors from claims,
    demands, any and all losses, damages, rights, and actions of any kind, including personal
    injuries, death, and property damage, that is either directly or indirectly related to or
    arises from your use of the Platform, including but not limited to, any interactions with
    or conduct of other Users or third-party services of any kind arising in connection with or
    as a result of the Terms of Use or your use of the Platform.
    c) Assignment. The Terms of Use, and your rights and obligations hereunder, may not be
    assigned, subcontracted, delegated or otherwise transferred by you without SolverBay’s
    prior written consent, and any attempted assignment, subcontract, delegation, or
    transfer in violation of the foregoing will be null and void.

    d) Force Majeure. SolverBay shall not be liable for any delay or failure to perform resulting
    from causes outside its reasonable control, including, but not limited to, war, terrorism,
    riots, embargos, acts of civil or military authorities, fire, floods, accidents, strikes or
    shortages of transportation facilities, fuel, energy, labor or materials.
    e) Questions, Complaints, Claims. If you have any questions, complaints or claims with
    respect to the Platform, please contact us. We will do our best to address your concerns.
    If you feel that your concerns have been addressed incompletely, we invite you to let us
    know for further investigation.
    f) Limitations Period. You and SolverBay agree that any cause of action arising out of or
    related to the terms of use, the platform or any challenge must commence within one (1)
    year after the cause of action accrues. Otherwise, such cause of action is permanently
    barred.
    g) Dispute Resolution
    i. Applicability of Arbitration Agreement. All claims and disputes (excluding claims
    for injunctive or other equitable relief as set forth below) in connection with the
    Terms of Use or the use of any product or service provided by SolverBay that
    cannot be resolved informally shall be resolved by binding arbitration on an
    individual basis under the terms of this Arbitration Agreement. Unless otherwise
    agreed, all arbitration proceedings will be held in Slovene. This Arbitration
    Agreement applies to you and SolverBay, and to any subsidiaries, affiliates,
    agents, employees, predecessors in interest, successors, and assigns, as well as
    all authorized or unauthorized users or beneficiaries of services or goods
    provided under the Terms of Use.
    ii. Notice Requirement and Informal Dispute Resolution. Before either party may
    seek arbitration, the party must first send to the other party a written Notice of
    Dispute (“Notice”) describing the nature and basis of the claim or dispute, and
    the requested relief. After the Notice is received, you and SolverBay may attempt
    to resolve the claim or dispute informally. If you and SolverBay do not resolve the
    claim or dispute within thirty (30) days after the Notice is received, either party
    may begin an arbitration proceeding. The amount of any settlement offer made
    by any party may not be disclosed to the arbitrator until after the arbitrator has
    determined the amount of the award, if any, to which either party is entitled.
    iii. Arbitration Rules. The arbitration shall be conducted by a single, neutral
    arbitrator. Any claims or disputes where the total amount of the award sought is
    less than Ten Thousand Euros (10,000.00 €) may be resolved through binding
    non-appearance- based arbitration, at the option of the party seeking relief. For
    claims or disputes where the total amount of the award sought is Ten Thousand
    Euros (10,000.00 €) or more, the right to a hearing will be determined by the
    Arbitration Rules. Any judgment on the award rendered by the arbitrator may be
    entered in any court of competent jurisdiction. If the arbitrator grants you an
    award that is greater than the last settlement offer that SolverBay made to you
    prior to the initiation of arbitration, SolverBay will pay you the greater of the
    award or 50 €. Each party shall bear its own costs (including attorney’s fees) and
    disbursements arising out of the arbitration and shall pay an equal share of the
    fees and costs of the dispute resolution provider.
    iv. Additional Rules for Non-Appearance Based Arbitration. If non-appearance based
    arbitration is elected, the arbitration shall be conducted by telephone, online
    and/or based solely on written submissions; the specific manner shall be chosen

    by the party initiating the arbitration. The arbitration shall not involve any
    personal appearance by the parties or witnesses unless otherwise agreed by the
    parties.
    v. Time Limits. If you or SolverBay pursue arbitration, the arbitration action must be
    initiated and/or demanded within the statute of limitations (i.e., the legal
    deadline for filing a claim).
    vi. Authority of Arbitrator. If arbitration is initiated, the arbitrator will decide the
    rights and liabilities, if any, of you and SolverBay, and the dispute will not be
    consolidated with any other matters or joined with any other cases or parties.
    The arbitrator shall have the authority to grant motions dispositive of all or part
    of any claim. The arbitrator shall have the authority to award monetary damages,
    and to grant any non-monetary remedy or relief available to an individual under
    applicable law, and the Terms of Use. The arbitrator shall issue a written award
    and statement of decision describing the essential findings and conclusions on
    which the award is based, including the calculation of any damages awarded. The
    arbitrator has the same authority to award relief on an individual basis that a
    judge in a court of law would have. The award of the arbitrator is final and
    binding upon you and SolverBay.
    vii. Waiver of Jury Trial. The parties hereby waive their constitutional and statutory
    rights to go to court and have a trial in front of a judge or a jury, instead electing
    that all claims and disputes shall be resolved by arbitration under this Arbitration
    Agreement. Arbitration procedures are typically more limited, more efficient and
    less costly than rules applicable in a court and are subject to very limited review
    by a court. In the event any litigation should arise between you and SolverBay in
    any state or federal court in a suit to vacate or enforce an arbitration award or
    otherwise, you and SolverBay waive all rights to a jury trial, instead electing that
    the dispute be resolved by a judge.
    viii. Waiver of Class or Consolidated Actions. All claims and disputes within the scope
    of this arbitration agreement must be arbitrated or litigated on an individual
    basis and not on a class basis, and claims of more than one customer or user
    cannot be arbitrated or litigated joinly or consolidated with those of any other
    customer or user.
    ix. Confidentiality. All aspects of the arbitration proceeding, including but not
    limited to the award of the arbitrator and compliance therewith, shall be strictly
    confidential. The parties agree to maintain confidentiality unless otherwise
    required by law. This paragraph shall not prevent a party from submitting to a
    court of law any information necessary to enforce this Agreement, to enforce an
    arbitration award, or to seek injunctive or equitable relief.
    x. Severability. If any part or parts of this Arbitration Agreement are found under
    the law to be invalid or unenforceable by a court of competent jurisdiction, then
    such specific part or parts shall be of no force and effect and shall be severed and
    the remainder of the Agreement shall continue in full force and effect.
    xi. Right to Waive. Any or all of the rights and limitations set forth in this Arbitration
    Agreement may be waived by the party against whom the claim is asserted. Such
    waiver shall not waive or affect any other portion of this Arbitration Agreement.
    xii. Survival of Agreement. This Arbitration Agreement will survive the termination of
    your relationship with SolverBay.

    xiii. Emergency Equitable Relief. Notwithstanding the foregoing, either party may
    seek emergency equitable relief before a state or federal court in order to
    maintain the status quo pending arbitration. A request for interim measures shall
    not be deemed a waiver of any other rights or obligations under this Arbitration
    Agreement.
    xiv. Claims Not Subject to Arbitration. Notwithstanding the foregoing, claims of
    defamation, violation of the Computer Fraud and Abuse Act, and infringement or
    misappropriation of the other party’s patent, copyright, trademark or trade
    secrets shall not be subject to this Arbitration Agreement.
    xv. Courts. In any circumstances where the foregoing Arbitration Agreement permits
    the parties to litigate in court, the parties hereby agree to submit to the personal
    jurisdiction of the courts located in Ljubljana for such purpose.

    h) Governing Law. The Terms of Use and any action related thereto will be governed and
    interpreted by and under Slovenian laws, without giving effect to any principles that
    provide for the application of the law of another jurisdiction.
    i) Choice of Language. It is the express wish of the parties that the Terms of Use and all
    related documents have been drawn up in English.
    j) Notice. Where SolverBay requires that you provide an e-mail address, you are
    responsible for providing SolverBay with your most current e-mail address. In the event
    that the last e-mail address you provided to SolverBay is not valid, or for any reason is
    not capable of delivering to you any notices required/ permitted by the Terms of Use,
    SolverBay’s dispatch of the e-mail containing such notice will nonetheless constitute
    effective notice. You may give notice to SolverBay. Such notice shall be deemed given
    when received by SolverBay by letter delivered by nationally recognized overnight
    delivery Challenge or first class postage prepaid mail at the above address.
    k) Waiver. Any waiver or failure to enforce any provision of the Terms of Use on one
    occasion will not be deemed a waiver of any other provision or of such provision on any
    other occasion.
    l) Severability. If any provision of the Terms of Use is, for any reason, held to be invalid or
    unenforceable, the other provisions of the Terms of Use will remain enforceable, and the
    invalid or unenforceable provision will be deemed modified so that it is valid and
    enforceable to the maximum extent permitted by law.
    m) Export Control. You may not use, export, import, or transfer any items or information
    obtained through the Platform except as authorized by the laws of the jurisdiction in
    which you obtained access to the Platform, and any other applicable laws. By using the
    Platform, you represent and warrant that you are not listed on any Slovenian
    Government list of prohibited or restricted parties. You also will not use the Platform for
    any purpose prohibited by Slovenian law, including the development, design,
    manufacture or production of missiles, nuclear, chemical or biological weapons. You
    acknowledge and agree that products, services or technology provided by SolverBay are
    subject to the export control laws and regulations. You shall comply with these laws and
    regulations and shall not, without prior government authorization, export, re-export, or
    transfer SolverBay products, services or technology, either directly or indirectly, to any
    country in violation of such laws and regulations.
    n) Entire Agreement. The Terms of Use are the final, complete and exclusive agreement of
    the parties with respect to the subject matter hereof and supersedes and merges all
    prior discussions between the parties with respect to such subject matter.</p>


</div>

<% include partials/footer %>