<% include ../partials/header %>

<div class="rowCSS">
    <h3>Post a solution for challenge: "<%=foundChallenge.title%>"</h3>

    <form action="/challenges/<%= foundChallenge._id %>/solutions" method="POST">
        <label for="solutionTitle">Title</label>
        <input type="text" name="solutionTitle" id="solutionTitle">
        
        <label for="solutionText">Your solution</label>
        <textarea name="solutionText" id="solutionText" rows="15"></textarea>
        <input type="submit" class="btn btnFull" value="Post">
    </form>
</div>

<% include ../partials/footer %>