<% include ../partials/header %>

<div class="rowCSS newChallenge">
    <div>
        <h3>Solution for: "<%=foundChallenge.title%>"</h3>
    </div>    

    <form action="/challenges/<%= foundChallenge._id %>/solutions" method="POST">
        <div>
            <label for="challengeTitle">Title</label>
            <input type="text" name="solutionTitle" class="challengeTitle" maxlength="62" required>
        </div>

        <div>
            <label for="challengeDescription">Your solution</label>
            <textarea name="solutionText" class="challengeDescription" rows="12" maxlength="1200" required></textarea>
        </div>
        
        <div>
            <input type="submit" class="btn btnFull" value="Post">
        </div>      
        
    </form>
</div>

<% include ../partials/footer %>