/* ALL COLORS 
base blue color - #3498db 
dark blue color - #196090
gray font base color - #606060
gray light font color - #8e8e8e
gray background color - #efefef
gray shadow color   -   #aeaeaf
*/

/* ---------------------- */
/* BASIC SETUP */
/* ---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', "Arial", sans-serif;
    font-weight: 400;
    color: #606060;
    text-rendering: optimizeLegibility;
    font-size: 20px;  
}

.site {  /* for sticky footer*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contentWrapper { /* for sticky footer*/
    flex: 1 ;
    padding-top: 70px;
}

/* --------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------- */

h1, h2 {    
    font-weight: 300;
    text-transform: uppercase;    
        
}

h1 {
    margin-top: 0;
    letter-spacing: 1px;
    color: #fff;
    word-spacing: 6px;
    margin-bottom: 35px;
    font-size: 240%;
}

h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 180%;
    margin-bottom: 50px;
    word-spacing: 4px;
}

h3 {
    font-size: 150%;
}

section {
    padding: 80px 0;  
}

hr {
	border-top: 1px solid #aeaeaf;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.author {
    font-style: italic;
    font-size: 80%;
    margin-top: 12px;
}

.challengeDate {
    display: none;
}

.hour, .sec, .min {
    font-weight: bold;  
}

.rowCSS {
    max-width: 1140px;
    margin: auto;
}

.btn:link, .btn:visited, input[type=submit] {
    cursor:pointer; 
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;    
    border-radius: 7px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s; 
    
}

.btnFull:link, .btnFull:visited, input[type=submit] {
    background-color: #3498db;
    color: #fff;
    margin-right: 10px;
    border: 2px solid #3498db;
}

.btnGhost:link, .btnGhost:visited {
    border: 2px solid #3498db;
    color: white;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active { 
    background-color: #196090;
    border: 1px solid #196090;
    color: #fff;
}

/* ---------------------- */
/* HOMEPAGE HEADER */
/* ---------------------- */

.homeHeader {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/headerImage.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/headerImage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.homeHeader .btn {
    margin-bottom: 10px;
}

.logoWhite { 
    height: 70px;
    width: auto;
    margin-top: 25px;
}

.headerText {
    position: absolute;
    max-width: 1140px;
    width: 90%;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.homeNavbar {
    float: right;
    margin-top: 50px;
    font-weight: 300;
    font-size: 90%;     
}

.homeNavbar li {
    margin-left: 22px;
}

.homepageUser {
    color: #fff;
    font-style: italic;
}

.homeNavbar a:link, .homeNavbar a:visited {
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 2px transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
    padding-bottom: 7px;   
}

.homeNavbar a:hover, .homeNavbar a:active  {
    border-bottom: solid 2px #3498db;
}

@media only screen and (max-width: 1200px) {
    .logoWhite { margin: 25px;}
    .homeNavbar { margin-right: 25px;}
}

@media only screen and (max-width: 991px) {
    h1 { font-size: 200%;}
    .logoWhite {height: 60px;}
}

@media only screen and (max-width: 575px) {
    h1 { font-size: 170%;}
    .logoWhite {height: 55px;}
}

/* ----------------------------------- */
/* HOMEPAGE SECTION ACTIVE CHALLANGES */
/* ----------------------------------- */

.activeChallenges {
    background: #efefef;
}
.challengesBox {
    width: 220px;
    height: 300px;
    margin: 30px auto;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 3px #aeaeaf;
    border-radius: 7px;
}

.challengesBox h3 {
    font-size: 90%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.challengesBox a {
    margin-top: 30px;
    font-size: 80%;
}

.challengesBox div {
    color: #8e8e8e;
    text-align: left;
    font-size: 80%;
    margin-top: 18px;
    height: 70px;
}

.challengesBox div p {
    margin: 10px 0;
}

.challengesBox div p span {
    color: #606060;
    font-weight: 700;
    font-size: 130%;
}

.challengesBox .hour,
.challengesBox .min,
.challengesBox .sec {
    color: #606060;
}

.allChallengesBtn {
    text-align: center;
    margin-top: 50px;
}

.allChallengesBtn .btnGhost:link, .allChallengesBtn .btnGhost:visited  {
    color: #606060;
}

.allChallengesBtn .btnGhost:hover, .allChallengesBtn .btnGhost:active {
    color: #fff;
}


/* -------------------------- */
/* HOMEPAGE SECTION HOW IT WORKS */
/* -------------------------- */

.howItWorks i {
    color: #3498db;
    margin-bottom: 10px;
}

.howItWorks {
    text-align: center;
}

.howItWorks > div {
    width: 250px;
    margin: 60px auto;
}

/* ----------------- */
/*        HEADER      */
/* ----------------- */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
    width: 100%;
    box-shadow: 0 2px 2px #aeaeaf;
    z-index: 9999;
    height: 70px;
}

.navbarLinks {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 90%;
}

.headerUser {
    color: #606060;
    font-style: italic;
}

.navbarLinks li {
    margin-right: 25px;
}

.navbarLinks a:link, .navbarLinks a:visited {
    color: #3498db;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;  
}

.navbarLinks a:hover, .navbarLinks a:active  {
    color: #196090;
}

.logoBlack {
    margin-left: 25px;
    height: 50px;
    margin-top: 10px;
}

.flashMessages {
    width: 400px;
    height: 50px;
    background: #db730a;
    margin: 30px auto;
    border-radius: 7px;
    text-align: center;
}

.flashMessages p {
    color: #fff;
    line-height: 50px;
}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */

footer {
    background-color: #333;
    padding: 50px;
    color: #8e8e8e;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float:left;    
}

.social-links {
    list-style: none;
    float: right;
    font-size: 160%;
}

.footer-nav li, .social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

footer p {
    text-align: center;
    margin-top: 10px;
}

footer a:link,
footer a:visited {
    color: #8e8e8e;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
}

footer .col-sm-6 {
    margin-bottom: 10px;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-instagram:hover {
    color: #125688;
}

/* ------------------------------- */
/* VIEWS > CHALLENGES > INDEX.EJS */
/* ------------------------------- */

.indexWrapper {
    background: #efefef;
    padding: 40px 0;
}
.indexChallenges {
    width: 100%;
    margin: 20px 0;
    border-radius: 7px;
    box-shadow: 0 2px 2px #aeaeaf;
    background: #fff;
    padding: 20px;
}

.indexChallenges a {
    font-size: 80%;
    margin-top: 15px;
}

.indexChallenges h3 {
    font-size: 120%;
    margin-bottom: 10px;
}

.indexChallenges div {
    margin-bottom: 25px;
}

.indexPrize {
    display: inline-block;
    margin-right: 30px;
}

.indexDate {
    display: inline-block;
}

/* ------------------------------- */
/* VIEWS > CHALLENGES > SHOW.EJS */
/* ------------------------------- */

.showChallenge {
    margin-top: 30px;
}

.showChallenge h3 {
    margin-bottom: 30px;
}

.showPrize, .timer {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.showChallenge div {
    margin: 50px 0;
    text-align: center;
}

.showChallenge form, #showChallengeEdit {
    display: inline-block;
    font-size: 80%;
    margin-top: 20px;
}

.showChallenge input[type=submit] {
    background: #aa1212;
    border: 2px solid #aa1212;
}

.showChallenge input[type=submit]:hover, .showChallenge input[type=submit]:active {
    background: #7f0707;
    border: 2px solid #7f0707;
}

.showSolutions {
    background-color: #efefef;
    padding: 30px 0;
}

.solutionBox {
    background: #fff;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 2px #aeaeaf;
    padding: 15px;
    position: relative;
}

.solutionBox div {
    display: inline-block;
}

.solutionBox div:first-child {
    width: 78%;
}

.solutionBox div:last-child {
    position: absolute;
    font-size: 80%;
    top: 15px;
    right: 5px;
}

.solutionBox div:last-child form, a {
    display: inline-block;
}

.solutionBox p:first-child  {
    font-weight: 700;
    margin-bottom: 10px;
}

.solutionBox input[type=submit] {
    background: #aa1212;
    border: 2px solid #aa1212;
}

.solutionBox input[type=submit]:hover, .solutionBox input[type=submit]:active {
    background: #7f0707;
    border: 2px solid #7f0707;
}

/* ------------------------------- */
/*    VIEWS > LOGIN / REGISTER */
/* ------------------------------- */

.loginRegisterForm {
    margin-top: 50px;
}

.loginRegisterForm form {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

.loginRegisterForm input[type=email],
.loginRegisterForm input[type=text],
.loginRegisterForm input[type=password] {
    margin-bottom: 12px;
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: 2px solid #333;
    outline: none;
    color: #3498db;
}

.loginRegisterForm input[type=email]:focus,
.loginRegisterForm input[type=text]:focus,
.loginRegisterForm input[type=password]:focus {
    color: #aa1212;
}


.loginRegisterForm a:link,
.loginRegisterForm a:visited {
    font-size: 82%;
    color: #3498db;
    margin-top: 10px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; 
}

.loginRegisterForm a:hover,
.loginRegisterForm a:active {
    color: #196090;     
}
