<% include ../partials/header %>

<div class ="rowCSS newChallenge">        

    <form action="/challenges/<%= foundChallenge._id %>?_method=PUT" method="POST">
        
        <div>
            <label for="challengeTitle">Title</label>
            <input type="text" name="title" value="<%= foundChallenge.title %>" class="challengeTitle" maxlength="62" required></input>
        </div>
        <div>
            <label for="challengeField">Challenge field</label>
            <input type="text" name="field" value="<%= foundChallenge.field %>" class="challengeField" maxlength="62" required></input>
        </div>
        <div>
            <label for="challengeDescription">Description<span class="challengeExplanations"> (max 1200 characters)</span></label>
            <textarea rows="12" name="description" class="challengeDescription" maxlength="1200" required><%= foundChallenge.description %></textarea>
        </div>    
        <div>
            <label for="challengeDateInput">Finish date<span class="challengeExplanations"> (max 30 days)</span></label>           
            <input type="date" name="date" class="challengeDateInput" min='2000-13-13' max='2000-13-13' required></input>
        </div>       
        <div>
            <input type="submit" class="btn btnFull" value="Update"></input>
        </div>
    </form>

</div>

<% include ../partials/footer %>