<% include ../partials/header %>

<div class ="rowCSS">
    <form id="newForm" action="/challenges" method="POST">
        <div>
            <label for="challengeTitle">Challenge title</label>
            <input type="text" name="title" placeholder="Type challenge title..." id="challengeTitle" maxlength="62" required></input>
        </div>
        <div>
            <label for="challengeDescription">Description</label>
            <textarea rows="10" name="description" placeholder="Tell your story..." id="challengeDescription" required></textarea>
        </div>
        <div>
            <label for="challengePrize">Choose you prize in €</label>
            <input type="number" name="prize" id="challengePrize" min="10" value="10" required></input>
        </div>
        <div>
            <label for="challengeDateInput">Select an end date</label>
            <input type="date" name="date" id="challengeDateInput" min='2000-13-13' max='2000-13-13' required></input>
        </div>
        <div>
            <input type="submit" class="btn btnFull" value="Confirm"></input>
        </div>
    </form>
</div>

<% include ../partials/footer %>

