<% include ../partials/header %>

<div class ="rowCSS newChallenge">    
    
    <div class="uploadDiv">
        <label>Upload files if needed<span class="challengeExplanations"> (<b>max:</b> 2MB/file &amp; 3 files; <b>types:</b> txt, pdf, png, jpg, jpeg)</span></label>
        <div class="uploadBox">            
            <form action="/upload" method="POST" enctype="multipart/form-data" id="uploadForm">       
                <input type="submit" value="Upload"><span class="uploadInfo"></span>
                <input name="uploadedFile" type="file" id="fileUploadInput">
            </form>
            <ul class="filesList"></ul> 
        </div>        
    </div>    

    <form action="/challenges" method="POST">
        
        <div id="hiddenInputsDiv">
        </div>
        
        <div>
            <label for="challengeTitle">Title</label>
            <input type="text" name="title" placeholder="Type challenge title..." class="challengeTitle" maxlength="62" required></input>
        </div>
        <div>
            <label for="challengeField">Challenge field</label>
            <input type="text" name="field" placeholder="e.g. thermal engineering" class="challengeField" maxlength="62" required></input>
        </div>
        <div>
            <label for="challengeDescription">Description<span class="challengeExplanations"> (max 1200 characters)</span></label>
            <textarea rows="12" name="description" placeholder="Describe your challenge and what are you trying to achive. Better instructions, better solutions..." class="challengeDescription" maxlength="1200" required></textarea>
        </div>    
        <div>
            <label for="challengeDateInput">Finish date<span class="challengeExplanations"> (max 30 days)</span></label>           
            <input type="date" name="date" class="challengeDateInput" min='2000-13-13' max='2000-13-13' required></input>
        </div>
        <div>
            <label for="challengePrize">Prize you offer for best solution<span class="challengeExplanations"> (10 €/$ or more)</span></label>
            <input type="number" name="prize" class="challengePrize" min="10" value="10" required></input>
            <select name="currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
            </select>
            <p class="platformFee challengeExplanations">+ 10% platform fee</p>
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">
        </div>
        <div>
            <label for="coupon">Coupon</label>
            <input type="number" name="coupon" placeholder="if you have">
        </div>       
        <div id="challengeConfirmBtn">
            <input type="submit" class="btn btnFull" value="Confirm"></input>
        </div>
        <div>
            <p class="challengeExplanations">*When challenge is confirmed, you can still edit it, until first solution is posted.</p>
        </div>
    </form>
    
</div>

<% include ../partials/footer %>

