<% include ../partials/header %>

<div class="rowCSS">
    <h2>List of all challenges</h2>
    <h3><%= title %></h3>
</div>

<div class="rowCSS">
    <div class="indexChallenges">
        <h3>Challenges 1</h3>
        <p>Duis sint reprehenderit ex deserunt incididunt eu voluptate ipsum ullamco. Aliqua mollit veniam pariatur commodo nisi magna aliqua amet ullamco magna ut ex minim. Deserunt sint eiusmod est consectetur commodo laboris sint culpa anim sit consectetur est labore veniam. Sunt exercitation id consectetur reprehenderit anim ullamco anim exercitation ullamco. Do in nulla non dolore ex consectetur ut nulla. Sunt pariatur qui eu id consectetur. Nostrud aute aute qui dolor mollit dolor.</p>
    </div>
</div>

<div class="rowCSS">
    <div class="indexChallenges">
        <h3>Challenges 1</h3>
        <p>Duis sint reprehenderit ex deserunt incididunt eu voluptate ipsum ullamco. Aliqua mollit veniam pariatur commodo nisi magna aliqua amet ullamco magna ut ex minim. Deserunt sint eiusmod est consectetur commodo laboris sint culpa anim sit consectetur est labore veniam. Sunt exercitation id consectetur reprehenderit anim ullamco anim exercitation ullamco. Do in nulla non dolore ex consectetur ut nulla. Sunt pariatur qui eu id consectetur. Nostrud aute aute qui dolor mollit dolor.</p>
    </div>
</div>

<div class="rowCSS">
    <div class="indexChallenges">
        <h3>Challenges 1</h3>
        <p>Duis sint reprehenderit ex deserunt incididunt eu voluptate ipsum ullamco. Aliqua mollit veniam pariatur commodo nisi magna aliqua amet ullamco magna ut ex minim. Deserunt sint eiusmod est consectetur commodo laboris sint culpa anim sit consectetur est labore veniam. Sunt exercitation id consectetur reprehenderit anim ullamco anim exercitation ullamco. Do in nulla non dolore ex consectetur ut nulla. Sunt pariatur qui eu id consectetur. Nostrud aute aute qui dolor mollit dolor.</p>
    </div>
</div>

<% include ../partials/footer %>