<% include ../partials/header %>

<div class="rowCSS">
    <h2>List of all challenges</h2>
</div>

<div class="rowCSS">
    <% challenges.forEach(function(challenge) { %>
        <div class="indexChallenges">
            <h3><%= challenge.title %></h3>
            <p><%= challenge.description %></p>
            <p>Prize <%= challenge.prize %> €</p>
            <p><%= challenge.date %></p>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>