<% include ../partials/header %>

<div class="rowCSS">
    <h3><%= foundChallenge.title %></h3>
    <p><%= foundChallenge.description %></p>
    <p><%= foundChallenge.prize %></p>
    <p><%= foundChallenge.time %></p>
</div>

<% include ../partials/footer %>