<% include ../partials/header %>

<div class="rowCSS loginRegisterForm">
    <form action="/passwordemail" method="POST">
        <div>
            <input type="email" name="email" placeholder="email" maxlength="40" required></input>
        </div>              
        <input type="submit" value="Reset">
    </form>
</div>

<% include ../partials/footer %>